* {
    margin: 0;
    padding: 0;
}
main {
    text-align: center;}
body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        font-family: 'Prompt', sans-serif;
        background-color: #f0f0f0;
    }
.key{
    min-height:30px;
    border-radius: 20px;
    min-width: 50px;
    outline: none;
    border:1px solid #000000;
    cursor:pointer;
    margin: 0 0 4px;
}
.calc-container{
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    display: flex;
    background: rgba(0,0, 0,0.3);
    box-sizing: border-box;
    flex-direction: column;
}
.screen{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    background: #fff;
    font-size: 20px;
    display: flex;
    padding: 2px 12px;
    box-sizing: border-box;
    margin: 0 0 16px;
}
.zero {
    width: 104px;
}
.digits{
    display: flex;
    flex-wrap: wrap;
}
.buttons{
font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
.other{
    display: flex; 
    width: 40%;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;

}
.other .key {
    width: 50%;
}
.result{
    background: #01f901;
}
.clear{
    background: #fa0606;
}

.digit-zero {
    width: 30px;
    min-height:30px;
    border-radius: 20px;
    min-width: 100px;
    outline: none;
    border:1px solid #000000;
    cursor:pointer;
    margin: 0 0 4px;
}